.App {
  text-align: center;
}

.navbar {
  float: left;
  width: 100vw;
  height: 7vh;
  background: royalblue;
  margin: 0;
  color: white;
  border-bottom: 2px solid white;
  text-align: left;
  padding-left: 30px;
  font-size: 20px;
}

.sidebar {
  float: left;
  width: 28%;
  height: 90vh;
  background: royalblue;
  color: white;
  border-right: 2px solid white;
}

.main-content {
  float: left;
  width: 70%;
  height: 90vh;
  background: whitesmoke;
  color:  black;

}

/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}*/

/*.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/

/*.App-link {
  color: #61dafb;
}*/

/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }*/
/*}*/
