/*Landing Page CSS*/
.App {
  text-align: center;
  width: 100vw;
  height: 120vh;
  position:relative;
  opacity: 0.5;
  transition: opacity .5s;
  box-shadow: -5px 5px 10px 3px rgba(0,0,0,0.2);
  
}

.space {
  height: 15vh;
  width: 100vw;
}

.space1 {
  height: 70vh;
  margin: auto;
  width: 70vw;
  background-color: grey;
  opacity: .8;
  transition: opacity .8s;
}

.welcome {
  padding-top: 5vh;
  padding-left: 5vw;
  color: black;
  text-align: left;
  margin: auto;
  font-size: 30px;  

}

.searchBar {
  margin: 2vh;
  background-color: white;
  border: 2px solid grey;
  width: 50%;
  height: 3.5vh;
  font-size: 20px;  
}

.buttonSize {
  margin-top: 15px;
 
  background-color: lightgrey;
  font-size: 20px; 
}


.navbar {
  float: left;
  width: 100vw;
  height: 7vh;
  background: lightblue;
  
  color: white;
  
  text-align: left;
  padding-left: 30px;
  font-size: 20px;
}

.sidebar {
  float: left;
  opacity: 0.8;
  width: 28%;
  height: 90vh;
  background: royalblue;
  color: white;
    
}

.main-content {
  float: left;
  width: 71%;
  height: 90vh;
  background-color: #c1d1d8;
  color:  black;

}



