
.displayEmployee {
  text-align: center;
  width: 20%;
  height: auto;
  display: inline-grid;
  margin: 10px;
}

.imageSize {
  position: center;
  width: 70px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.displayName {
  font-size: 20px;

}

